/* Coolors Exported Palette - coolors.co/cae7b9-f3de8a-eb9486-7e7f9a-97a7b3 */
/* RGB */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #faf6f6; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #222227; }

.u-main-container {
  display: flex;
  flex-direction: column; }

.u-main-item {
  padding: 1rem;
  margin-bottom: 1rem; }

.about {
  margin: 1rem 2rem;
  font-size: 1.7rem; }

.contact {
  height: 15rem; }

.hero-end {
  height: 75vh;
  width: 100%;
  background: url("../img/end-hero.jpg") no-repeat top;
  background-size: cover; }

.hero {
  height: 90vh;
  width: 100%;
  background: linear-gradient(to top right, rgba(255, 0, 64, 0.3), rgba(0, 110, 255, 0.4)), url("../img/hero.jpg") no-repeat top;
  background-size: cover; }

.nav-bar {
  width: 100%;
  height: 10vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem; }
  .nav-bar__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    user-select: none; }
  .nav-bar__menu {
    display: flex;
    list-style: none; }
    .nav-bar__menu__item__link {
      padding: .5rem 1rem;
      margin-right: 2.5rem;
      transition: all .1s; }
      .nav-bar__menu__item__link:link, .nav-bar__menu__item__link:visited {
        text-decoration: none;
        color: inherit; }
      .nav-bar__menu__item__link:hover {
        border-bottom: solid #ca3d3d 2.5px; }

.offer {
  margin: 1rem 2rem;
  font-size: 1.5rem; }
