/* Coolors Exported Palette - coolors.co/cae7b9-f3de8a-eb9486-7e7f9a-97a7b3 */
/* RGB */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@media (min-width: 0px) {
  html {
    font-size: 55%; } }

@media (min-width: 375px) {
  html {
    font-size: 57%; } }

@media (min-width: 425px) {
  html {
    font-size: 63%; } }

@media (min-width: 768px) {
  html {
    font-size: 68%; } }

@media (min-width: 1024px) {
  html {
    font-size: 75%; } }

@media (min-width: 1440px) {
  html {
    font-size: 80%; } }

@media (min-width: 2560px) {
  html {
    font-size: 120%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #222227; }

h2 {
  margin: 2rem auto; }

section {
  padding: 3rem; }

p {
  margin-top: 1rem; }
  @media (max-width: 768px) {
    p {
      font-size: 1.8rem; } }

.header--2 {
  font-size: 2.5rem;
  text-align: center; }

.u-main-container {
  display: flex;
  flex-direction: column; }

.u-main-item {
  padding: 1rem; }

.u-no-padding {
  padding: 0; }

.u-margin-bottom--1 {
  margin-bottom: 1rem; }

.u-margin-top--8 {
  margin-top: 8rem; }

.u-margin-bottom--2 {
  margin-bottom: 2rem; }

.about {
  margin: 0 2rem;
  font-size: 1.7rem; }
  .about__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 768px) {
      .about__container {
        flex-direction: column; } }
    .about__container__image {
      height: 30rem;
      flex: 1 0 50%;
      background: url("../img/tools.jpg");
      background-size: cover; }
      @media (max-width: 768px) {
        .about__container__image {
          flex: auto;
          width: 100%; } }
    .about__container__text {
      flex: 1 0 50%;
      padding: 3rem; }

.contact {
  margin: 5rem 0;
  background-color: #ebebeb;
  font-size: 1.6rem;
  padding: 1rem 5rem; }
  .contact__container {
    background-image: linear-gradient(-105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), linear-gradient(to right, #c80000, #c8641e); }
    .contact__container__form {
      padding: 5rem;
      margin-left: 55%;
      display: flex;
      flex-direction: column;
      transition: all .2s; }
      .contact__container__form__label {
        font-size: 1.4rem;
        margin-left: 1.5rem;
        transition: all .2s;
        opacity: 1; }
      .contact__container__form input, .contact__container__form textarea {
        transition: all .2s;
        outline: none; }
        .contact__container__form input:focus, .contact__container__form textarea:focus {
          outline: 2px solid rgba(30, 30, 150, 0.3); }
        .contact__container__form input:invalid:not(:focus):not(:placeholder-shown), .contact__container__form textarea:invalid:not(:focus):not(:placeholder-shown) {
          background-color: rgba(200, 0, 0, 0.2); }
      input:invalid + .contact__container__form__label {
        color: #c80000; }
      input:placeholder-shown + .contact__container__form__label {
        opacity: 0;
        outline: none; }
      .contact__container__form__area {
        margin-bottom: 2rem;
        resize: none; }
      .contact__container__form__btn {
        text-align: center;
        background: linear-gradient(to right, rgba(200, 0, 0, 0.8), rgba(200, 100, 30, 0.8));
        border-radius: 1rem;
        transition: all .2s;
        box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.4); }
        .contact__container__form__btn:hover {
          transform: scale(1.01) translateY(-3px);
          box-shadow: 0 1.2rem 2.4rem rgba(10, 10, 10, 0.3); }

.u-input {
  padding: 1.4rem;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 3px;
  border: none; }

.u-input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; }

.hero-end {
  height: 85vh;
  width: 100%;
  background: url("../img/end-hero.jpg") no-repeat top;
  background-size: cover; }

.hero {
  height: 90vh;
  width: 100%;
  background: linear-gradient(to top right, rgba(200, 0, 0, 0.6), rgba(200, 100, 30, 0.6)), url("../img/hero.jpg") no-repeat top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 88vh, 0% 82vh);
  color: #faf6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .hero__place {
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    text-transform: uppercase;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .hero__phone {
    margin-top: 5rem;
    font-weight: 500;
    font-size: 2rem;
    background-color: #faf6f6;
    padding: 1.5rem 5rem;
    border-radius: 5rem;
    color: #c80000;
    box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.4);
    position: relative;
    display: inline-block;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    .hero__phone a {
      text-decoration: none;
      color: inherit;
      padding: 2rem; }
  .hero h1 {
    text-align: center;
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

/* Coolors Exported Palette - coolors.co/cae7b9-f3de8a-eb9486-7e7f9a-97a7b3 */
/* RGB */
.nav-bar {
  width: 100%;
  height: 8vh;
  padding: 1rem;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #faf6f6;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75); }
  .nav-bar__title {
    text-decoration: none;
    color: #c80000;
    opacity: 0.6;
    font-size: 2.5rem;
    margin-left: 2rem;
    transition: 0.15s;
    outline: 0; }
    .nav-bar__title:hover {
      opacity: 1; }
    .nav-bar__title:link, .nav-bar__title:visited {
      outline: none;
      text-decoration: none;
      color: inherit; }
  .nav-bar__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    user-select: none; }
  .nav-bar__menu {
    display: flex;
    list-style: none; }
    .nav-bar__menu__item__link {
      padding: 0 1rem;
      margin-right: 2.5rem;
      transition: all 0.15s; }
      .nav-bar__menu__item__link:link, .nav-bar__menu__item__link:visited {
        outline: none;
        text-decoration: none;
        color: inherit; }
      .nav-bar__menu__item__link:hover {
        padding-bottom: 0.5rem;
        border-bottom: solid #c80000 0.3rem; }

.offer {
  margin: 1rem 0;
  font-size: 1.5rem; }
  .offer__background-image {
    transform: skewY(-8deg);
    padding: 4rem 2rem;
    margin: 7rem 0;
    width: 100%;
    background: linear-gradient(to right, #c80000, #c8641e); }
  .offer__container {
    transform: skewY(8deg);
    margin: 7rem 0;
    color: #141414;
    font-size: 1.7rem;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem; }
    @media (max-width: 425px) {
      .offer__container {
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem; } }
    @media (max-width: 768px) {
      .offer__container {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem; } }
    .offer__container ul {
      list-style-type: none; }
    .offer__container .feature-box {
      background-color: rgba(228, 228, 228, 0.8);
      font-size: 1.4rem;
      padding: 3.5rem 2.5rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem #141414;
      transition: transform 0.3s; }
      .offer__container .feature-box:hover {
        transform: translateY(-1.5rem) scale(1.03); }
      .offer__container .feature-box__icon {
        font-size: 5rem;
        margin: 2rem auto;
        display: inline-block;
        background-image: #323232;
        -webkit-background-clip: text; }
      .offer__container .feature-box__text {
        margin-top: 2rem; }

.footer {
  margin-top: 5rem;
  padding: 10rem 5rem;
  background: #071430;
  clip-path: polygon(0 0, 100% 15rem, 100% 100%, 0 100%);
  color: #9bb3e9;
  background-size: cover;
  font-size: 2rem; }
  .footer__phone__link {
    margin-left: 0.4rem;
    text-decoration: none;
    color: inherit; }
  .footer__email__link {
    margin-left: 0.4rem;
    text-decoration: none;
    color: inherit; }
  .footer__company_name {
    font-size: 2.5rem; }

.guarantee {
  margin: 3rem;
  display: flex;
  justify-content: center; }
  .guarantee__text {
    font-size: 2rem;
    border-bottom: 3px solid #c80000;
    border-top: 3px solid #c80000;
    padding: 3rem 5rem 5rem 5rem; }
    @media (max-width: 768px) {
      .guarantee__text {
        padding: 3rem; } }
    @media (max-width: 375px) {
      .guarantee__text {
        padding: 3rem 1rem; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
