/* Coolors Exported Palette - coolors.co/cae7b9-f3de8a-eb9486-7e7f9a-97a7b3 */
/* RGB */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #faf6f6; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #222227; }

h2 {
  margin: 2rem auto; }

section {
  padding: 3rem; }

p {
  margin-top: 1rem; }

.u-main-container {
  display: flex;
  flex-direction: column; }

.u-main-item {
  padding: 1rem;
  margin-bottom: 1rem; }

.u-no-padding {
  padding: 0; }

.u-margin-bottom--1 {
  margin-bottom: 1rem; }

.about {
  margin: 1rem 2rem;
  font-size: 1.7rem; }
  .about__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .about__container__image {
      flex: 1 0 50%; }
    .about__container__text {
      flex: 1 0 50%;
      padding: 3rem; }

.contact {
  margin: 5rem 0;
  background-color: #ebebeb;
  font-size: 1.6rem;
  padding: 1rem 5rem; }
  .contact__container {
    background-image: linear-gradient(-105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), linear-gradient(to right, #c80000, #c8641e); }
    .contact__container__form {
      padding: 5rem;
      margin-left: 55%;
      display: flex;
      flex-direction: column;
      transition: all .2s; }
      .contact__container__form__label {
        font-size: 1.4rem;
        margin-left: 1.5rem;
        transition: all .2s;
        opacity: 1; }
      .contact__container__form input, .contact__container__form textarea {
        transition: all .2s;
        outline: none; }
        .contact__container__form input:focus, .contact__container__form textarea:focus {
          outline: 2px solid rgba(30, 30, 150, 0.3); }
        .contact__container__form input:invalid:not(:focus):not(:placeholder-shown), .contact__container__form textarea:invalid:not(:focus):not(:placeholder-shown) {
          background-color: rgba(200, 0, 0, 0.2); }
      input:invalid + .contact__container__form__label {
        color: #c80000; }
      input:placeholder-shown + .contact__container__form__label {
        opacity: 0;
        outline: none; }
      .contact__container__form__area {
        margin-bottom: 2rem;
        resize: none; }
      .contact__container__form__btn {
        text-align: center;
        background: linear-gradient(to right, rgba(200, 0, 0, 0.8), rgba(200, 100, 30, 0.8));
        border-radius: 1rem;
        transition: all .2s;
        box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.4); }
        .contact__container__form__btn:hover {
          transform: scale(1.01) translateY(-3px);
          box-shadow: 0 1.2rem 2.4rem rgba(10, 10, 10, 0.3); }

.u-input {
  padding: 1.4rem;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 3px;
  border: none; }

.u-input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; }

.hero-end {
  height: 85vh;
  width: 100%;
  background: url("../img/end-hero.jpg") no-repeat top;
  background-size: cover; }

.hero {
  height: 90vh;
  width: 100%;
  background: linear-gradient(to top right, rgba(200, 0, 0, 0.6), rgba(200, 100, 30, 0.6)), url("../img/hero.jpg") no-repeat top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 88vh, 0% 82vh);
  color: #FAF6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .hero h1 {
    font-weight: 300;
    font-size: 5rem;
    letter-spacing: .5rem;
    text-transform: uppercase; }
  .hero h2 {
    margin: 0;
    font-weight: 300;
    letter-spacing: .3rem;
    font-size: 4rem;
    text-transform: uppercase; }
  .hero h3 {
    padding-top: 5rem;
    font-weight: 400;
    font-size: 2.7rem;
    margin: 0; }

.nav-bar {
  width: 100%;
  height: 10vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem; }
  .nav-bar__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    user-select: none; }
  .nav-bar__menu {
    display: flex;
    list-style: none; }
    .nav-bar__menu__item__link {
      padding: .0 1rem;
      margin-right: 2.5rem;
      transition: all .2s; }
      .nav-bar__menu__item__link:link, .nav-bar__menu__item__link:visited {
        text-decoration: none;
        color: inherit; }
      .nav-bar__menu__item__link:hover {
        padding-bottom: .5rem;
        border-bottom: solid #c80000 2.5px; }

.offer {
  margin: 1rem 0;
  font-size: 1.5rem; }
  .offer__background-image {
    transform: skewY(-8deg);
    padding: 7rem;
    display: flex;
    margin: 7rem 0;
    width: 100%;
    background: linear-gradient(to right, #c80000, #c8641e); }
  .offer__container {
    transform: skewY(8deg);
    margin: 7rem 0;
    color: #141414;
    font-size: 1.7rem;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem; }
    .offer__container ul {
      list-style-type: none; }
    .offer__container .feature-box {
      background-color: rgba(228, 228, 228, 0.8);
      font-size: 1.4rem;
      padding: 3.5rem 2.5rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem #141414;
      transition: transform .3s; }
      .offer__container .feature-box:hover {
        transform: translateY(-1.5rem) scale(1.03); }
      .offer__container .feature-box__icon {
        font-size: 5rem;
        margin: 2rem auto;
        display: inline-block;
        background-image: linear-gradient(to right, #323232, #464646);
        -webkit-background-clip: text;
        color: transparent; }
      .offer__container .feature-box__text {
        margin-top: 2rem;
        font-size: 1.6rem; }

.footer {
  margin-top: 5rem;
  padding: 5rem;
  background: #071430;
  color: #647bad;
  background-size: cover;
  font-size: 2rem; }
