@import "./palette.scss";

@import "./base/base";
@import "./base/typography";

@import "./utils/utils";

@import "./component/about";
@import "./component/contact";
@import "./component/hero-end";
@import "./component/hero";
@import "./component/nav-bar";
@import "./component/offer";
@import "./component/footer";
