/* Coolors Exported Palette - coolors.co/cae7b9-f3de8a-eb9486-7e7f9a-97a7b3 */

/* RGB */
$gree-primary: rgba(202, 231, 185, 1);
$yellow-primary: rgba(243, 222, 138, 1);
$oragne-primary: rgba(235, 148, 134, 1);
$grey-primary: rgba(126, 127, 154, 1);
$teal-primary: rgba(151, 167, 179, 1);

$grey-dark: rgb(34, 34, 39);
$white-background: rgb(250, 246, 246);