.u-main-container {
  display: flex;
  
  flex-direction: column;
}

.u-main-item {
  padding: 1rem;

  margin-bottom: 1rem;
}

.u-no-padding {
  padding: 0;
}

.u-margin-bottom--1 {
  margin-bottom: 1rem;
}