.contact {
  margin: 5rem 0;
  background-color: rgb(235, 235, 235);
  font-size: 1.6rem;
  padding: 1rem 5rem;

  &__container {
    background-image: linear-gradient(-105deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 50%, transparent 50%), linear-gradient(to right, rgb(200,0,0), rgb(200, 100, 30));

    &__form {
      padding: 5rem;
      margin-left: 55%;
      display: flex;
      flex-direction: column;
      transition: all .2s;

      &__label {
        font-size: 1.4rem;
        margin-left: 1.5rem;
        transition: all .2s;
        opacity: 1;
      }

      input:invalid + &__label {
        color: rgb(200, 0, 0);
      }

      input:placeholder-shown + &__label {
        opacity: 0;
        outline: none;
      }

      &__area {
        margin-bottom: 2rem;
        resize: none;
      }

      &__btn {
        text-align: center;
        background: linear-gradient(to right, rgba(200, 0, 0, .8), rgba(200, 100, 30, .8));
        border-radius: 1rem;
        transition: all .2s;
        box-shadow: 0 1rem 2rem rgba(10, 10, 10, .4);

        &:hover {
          transform: scale(1.01) translateY(-3px);
          box-shadow: 0 1.2rem 2.4rem rgba(10, 10, 10, .3);
        }
      }
    }
  }
}

.u-input {
  padding: 1.4rem;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 3px;
  border: none;
}

.u-input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}