.footer {
  margin-top: 5rem;
  padding: 5rem;
  background: rgb(7, 20, 48);
              // url('../img/end-hero.jpg') no-repeat center center;
  color: rgb(100, 123, 173);
  background-size: cover;
  font-size: 2rem;

}