.hero {
  height: 90vh;
  width: 100%;
  background: linear-gradient(to bottom right, rgb(200,0,0), rgb(200, 100, 30));
  clip-path: polygon(0 0, 100% 0, 100% 88vh, 0% 82vh);
  color: white;
  // linear-gradient(to top right, rgba(255, 0, 64, 0.3), rgba(0, 110, 255, 0.4));
              // url('../img/hero.jpg') no-repeat top;
  // background-size: cover;
}