.offer {
  margin: 1rem 0;
  font-size: 1.5rem;

  &__background-image {
    padding: 3rem;
    display: flex;
    margin: 7rem 0;
    height: 90vh;
    width: 100%;
    background: linear-gradient(to top right, rgba(255, 0, 64, 0.4), rgba(0, 110, 255, 0.5)),
                url('../img/flame-1.jpg') no-repeat top;
    background-size: cover;
  }

  &__container {
    margin: auto auto;
    color: rgb(20, 20, 20);
    font-size: 1.7rem;
    font-weight: 400;

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    ul {
      list-style-type: none;
    }

    .feature-box {
      background-color: rgba(rgb(228, 228, 228), .8);
      font-size: 1.4rem;
      padding: 2.5rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(rgb(20, 20, 20), 1);
      transition: transform .3s;

      &__icon {
          font-size: 5rem;
          margin-bottom: .5rem;
          display: inline-block;
          background-image: linear-gradient(
                            to right, rgba(50,50,50,1), rgba(70,70,70,1)
          );
          -webkit-background-clip: text;
          color: transparent;
      }

      // zastanów się czy chcemy tutaj hover
      // &:hover {
      //     transform: translateY(-1.5rem) scale(1.03);
      // }
    }
  }
}
