// 2560px
// 1440px
// 1024px tak ja robiłem
// 768px
// 425px
// 375px
// 320px

$bigest4k: 2560px;
$laptopL: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileL: 425px;
$mobileM: 375px;
$mobileS: 320px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  @media (min-width: 0px) {
    font-size: 55%; //1 rem = 10px; 10px/16px = 62.5%
  }

  @media (min-width: $mobileM) {
    font-size: 57%; //1 rem = 10px; 10px/16px = 62.5%
  }

  @media (min-width: $mobileL) {
    font-size: 63%; //1 rem = 10px; 10px/16px = 62.5%
  }

  @media (min-width: $tablet) {
    font-size: 68%; //1 rem = 10px; 10px/16px = 62.5%
  }

  @media (min-width: $laptop) {
    font-size: 75%; //1 rem = 10px; 10px/16px = 62.5%
  }

  @media (min-width: $laptopL) {
    font-size: 80%;
  }

  @media (min-width: $bigest4k) {
    font-size: 120%;
  }
}

body {
  box-sizing: border-box;
}
